@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background-color: rgba(140, 255, 255, 0.719);
}

header > h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: auto;
    padding: 10px;

    color: white;
    background: rgba(94, 170, 170, 0.719);
    border-radius: 15px;
    
}

section {
    
    text-align: center;
    margin-top: 25px;
    margin: auto;
    background-color: gray;

    width: 80vw;
    height: 300px;

}

footer {
    margin-top: 15px;
    text-align: center;
}