@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100vh;
}

header > h1 {
    text-align: center;
    margin-top: 15px;
    padding: 10px;

    color: white;
    background: blue;
}

section {
    text-align: center;
    margin-top: 15px;
    margin: auto;
    background-color: gray;

    width: 500px;
    height: 500px;

}