@charset "UTF-8";

html {
    background-color: brown;
}

header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.548);

    margin: auto;
    width: 250px;
    
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    background-color: white;
}